$dark: (
  backgroundColor: #222,
  textColor: #ddd,
  buttonTextColor: #aaa,
  buttonTextHoverColor: #ddd,
  buttonColor: #333,
  buttonBorder: 1px solid #aaa,
  cardColor: #1b1b1b,
  titleTextColor: yellow
);
