$inputColor: #f5f5f5;

$light: (
  backgroundColor: #fff,
  textColor: #408bbd,
  buttonTextColor: #408bbd,
  buttonTextHoverColor: #61b0e7,
  buttonColor: $inputColor,
  buttonBorder: 1px solid darken($inputColor, 5%),
  cardColor: $inputColor,
  titleTextColor: red,
);
